body {
  padding:0px;
  margin:0;
  background:#1a1a1a;
/*  background: url('bg.png') bottom center no-repeat,
  #1a1a1a ;*/
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
  font-size: 14px;
  text-transform:uppercase;
  color: white;
  text-align:center;
}


#title {
  width: 500px;
  margin-left: auto ;
  margin-right: auto ;
  font-weight: 300;
  font-size:26px;
  font-weight:bold;
  letter-spacing:4px;
  color: #1a1a1a;
  background: white;
  padding: 20px;
  opacity:.6;
}

#container {
  width: 1000px;
  padding: 50px;
  margin-left: auto ;
  margin-right: auto ;
  height:100%;
}

.instructions {
  font-weight: 300;
  font-size:64px;
  letter-spacing:2px;

}



